@media(max-width:1024px){


}
@media(max-width:991px){

    /* custom classes */


    /* navbar brand */
    .navigation-warp .navbar-brand img{
        height: 3.8125rem;

    }
    .navigation-warp .nav-link{
        line-height: 1.875rem;
    }


    /* banner design */
    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }


    /* carorsel design */
}
@media(max-width:767px){

    /* custom css */

h1{
    font-size: 2.8rem;
}


h2{
    font-size: 2rem;
    line-height: 2.0625rem;
}


    /* top banner */
    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }

    /* story section */
    .story-section{
        height: auto;
        padding: 3rem 0;

    }

    /* carorsel design */


    /* newsletter */


    /* footer link */

    
}
@media(max-width:330px){

    /* carorsel design */
}